@import "./components/home";
@import "./components/navbar";
@import "./components/catalog";
  
.appear {
  opacity: 1;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.animated.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.title{
  text-align: center !important;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}
label.white-text{
  color:#fff;
}
.movie-card  {  
  
    width: 500px;
    height: auto;

     @media(max-width: 1024px){
      width: 100%;

      img.movie-image {
        width: 100%;
    }
    
    }
    
.movie-title {
  width: 100%;
  display: block;
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.3em;
  min-height: 45px;
}

.movie-description {
 
  font-size: 0.9em;
  line-height: 1.4em;
  margin-top: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  min-height: 80px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.release-date{
  color: rgba(0,0,0,0.6);
    line-height: 1em;
}
.fa-heart:before {
  font-size: 20px;
  border: 1px solid;
  padding: 15px;
  border-radius: 50%;
}
.favorite-movie.active {
  color: #dc1427;
}

}
button.btn.btn-link.bounce-in.animation.pull-right {
  border: 2px solid;
  margin-top: 0;
  font-size: 15px;
  letter-spacing: 2px;
  color: #666;
}
.percentage{
  padding: 15px 8px;
  border-radius: 50%;
  color: #17a2b8;
  border: 1px solid;
  display: inline-block;
  height: 55px;
  width: 55px;
  text-align: center;
}
.movie-detail{
  h1 {
    font-size: 1.8rem;
}
h3{
  font-size: 1.3rem;
}
.movie-description {
  font-size: 15px;
}
.facts p{
  margin-bottom: 5px;
}
ol.movie-facts {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  display: flex;
}

div.facts > ol > li {
  width: 25%;
  flex-basis: 25%;
  text-align: left;
  margin-bottom: 14px;
  margin-right: 0;
  box-sizing: border-box;
  padding-right: 20px;
}
ol li p {
  font-weight: bold;
}
@media(max-width: 1024px){

  ol.movie-facts {
    display: block;
  }
  div.facts > ol > li {
    width: 100%;
    flex-basis: 100%;
  }
}

}
.pagination{
  justify-content: center;
}
.remove-list-item {
  cursor: pointer;
}
.favorite-movie {
  cursor: pointer;
  &.active {
      color: theme-color("action");
  }
}